main{
    font-weight: 600;
}
.titulo_carrinho-compras{
    text-align: center;
    font-weight: bold;
    color: #FE4617;
    font-size: 16px;
    margin-top: 20px;
}

/* Item do carrinho */
.container_item_carrinho-compras{
    display: flex;
    background: pink;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

/* Imagem */
.imagem_item_carrinho-compras{
    width: 25%;
    border-radius: 15%;
}

/* Img e tag */
.img_nome-tag{
    display: flex;
}

/* Nome, tag e botão de remover */
.container_nome_tag_botao-remover_carrinho-compras{
    flex-direction: column;
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}

/* Tag e botão de remover */
.container_tag-botaoRemover_carrinho-compras{
    display: flex;
}

/* Preço e quantidade */
.preco_quantidade_carrinho-compras{
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preco_carrinho-compras{
    text-align: center;
}
/* adicionar, retirar e quantidade */
.container_quantidade{
    display: flex;
    justify-content: space-evenly;
    background: cyan;
    border-radius: 20px;
    width: 100%;
}

.retirar_carrinho-compras, .adicionar_carrinho-compras{
    cursor: pointer;
}

